<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="BakeryPracticeEntities" connectionString="metadata=res://*/ADOApp.BakeryModel.csdl|res://*/ADOApp.BakeryModel.ssdl|res://*/ADOApp.BakeryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-T8STADS\SQLEXPRESS;initial catalog=BakeryPractice;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>